{
  "ConnectionDefinition": [
      {
        "ConnectionType": "API Token",
        "Username": "your_account_email",
        "ApiToken": ""
      },
      {
        "ConnectionType": "OAuth2",
        "AccessToken": "Bearer token"
      }
  ],
  "TestFolder": "TestFiles"
}